@font-face {
  font-family: 'Selawik Regular';
  src: url('~assets/fonts/Selawik/selawk-webfont.woff2') format('woff2'),
       url('~assets/fonts/Selawik/selawk-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Selawik Bold';
  src: url('~assets/fonts/Selawik/selawkb-webfont.woff2') format('woff2'),
       url('~assets/fonts/Selawik/selawkb-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Selawik Light';
  src: url('~assets/fonts/Selawik/selawkl-webfont.woff2') format('woff2'),
       url('~assets/fonts/Selawik/selawkl-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Selawik Semibold';
  src: url('~assets/fonts/Selawik/selawksb-webfont.woff2') format('woff2'),
       url('~assets/fonts/Selawik/selawksb-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Selawik Semilight';
  src: url('~assets/fonts/Selawik/selawksl-webfont.woff2') format('woff2'),
       url('~assets/fonts/Selawik/selawksl-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}