.toolbar.commandbar {
  .ms-CommandBar {
    padding: 0;
  }
  .active {
    height: 40px;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #006DBB;
    }
    .ms-Button-label {
      font-weight: 600;
    }
  }
}

.nopadding  .ms-CommandBar {
  padding: 0;
}
